<main class="main">
  <h1 class="main__title">Currency converter</h1>

  <header class="rate">
      <p>
        <i>Exchange date: {{ date }}</i>
      </p>
    <p class="rate__title">Сurrent rate UAH to:</p>
    <div>
      <p *ngIf="currentUSD !== null">
        {{ currentUSD.cc }} - {{ currentUSD.rate }}
      </p>
      <p *ngIf="currentEUR !== null">
        {{ currentEUR.cc }} - {{ currentEUR.rate }}
      </p>
    </div>
  </header>
  <app-converter class="converter" [currencies]="currencies"></app-converter>
</main>
